# Игнорируем служебную папку Terraform (там хранятся плагины и провайдеры)
.terraform/

# Игнорируем файлы состояния (state), они содержат конфиденциальные данные и создаются локально
*.tfstate
*.tfstate.*

# Игнорируем файлы с переменными, где могут быть секреты (пароли, токены)
#*.tfvars - terraform.tfvars мне нужен для лабы
*.tfvars.json

# Игнорируем файлы логов изменений и бэкапы
crash.log
crash.*.log
*.tfplan

# Игнорируем скрытые файлы конфигурации CLI и переопределений
.terraform.lock.hcl
override.tf
override.tf.json
*_override.tf
*_override.tf.json

